:root{
    background-color: rgba(82, 29, 8, 0.918);
    color: rgb(204, 86, 32);
  }
  
  body{
    background-color: var(-cor-de-fundo);
    color: var(texo);
    
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 200%;
    margin: 0 auto;
    font-size: 20px;
  }
  