:root{
    background-color: rgba(13, 11, 14, 0.851);
    color: rgb(255, 255, 255);
  }
  
  body{
    background-color: var(-cor-de-fundo);
    color: var(texo);
    
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  