:root{
    background-color: rgba(222, 236, 17, 0.918);
    color: rgb(12, 12, 11);
  }
  
  body{
    background-color: var(-cor-de-fundo);
    color: var(texo);
    
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 200%;
    margin: 0 auto;
  }
  